*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: none;
}
span{
  color: rgb(59, 153, 125);
}

body{
  background-color: rgb(22, 22, 29);
  display: flex;
  overflow-x: hidden;
}
.mostrarMas{
  color: white ;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-weight: 50;
  font-size: 25px;
  margin: 30px 20px 0;
  position: relative;

}
.mostrarMas:hover{
  color: rgb(59, 153, 125);
  
}

